---
import { Image } from "astro:assets";
---

<footer>
	<a
		class="hide-on-dark"
		href="https://www.buymeacoffee.com/programmers_sanctuary"
		target="_blank"
		title="Support me - Buy me a book"
	>
		<Image
			alt="Support me - Buy me a book"
			src="https://img.buymeacoffee.com/button-api/?text=Buy me a book&emoji=📖&slug=programmers_sanctuary&button_colour=285c4e&font_colour=ffffff&font_family=Cookie&outline_colour=ffffff&coffee_colour=FFDD00"
			width="217"
			height="50"
		/>
	</a>
	<a
		class="hide-on-light"
		href="https://www.buymeacoffee.com/programmers_sanctuary"
		target="_blank"
		title="Support me - Buy me a book"
	>
		<Image
			alt="Support me - Buy me a book"
			src="https://img.buymeacoffee.com/button-api/?text=Buy me a book&emoji=📖&slug=programmers_sanctuary&button_colour=a3d7c9&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00"
			width="217"
			height="50"
		/>
	</a>
</footer>
